/**
 * sass/parts/heroes.scss
 * @package scgolfpanel
 * @author Scott Shealy
 * @version 1.0.0 (2024.10.01)
 * @copyright 2024 (2024.10.01)
**/

// HERO
    $hero-padding: $padding-sm;
    $hero-overlay: $gradient-1;
    $hero-text-color: $text-color-white;

    // HERO-PRIMARY
        $hero-primary-height: 100.00vh;

    // HERO-SECONDARY
        $hero-secondary-height: 15.00rem;

// STYLES
    .hero {
        // GLOBAL
            position: relative;
            z-index: 0;
            padding: $hero-padding;
            background-size: cover;
            background-position: center center;
            background-repeat: no-repeat;
            text-align: left;

        // MOBILE
            @media #{$media-xs} {} //.COL-XS
            @media #{$media-sm} {} //.COL-SM
            @media #{$media-md} {} //.COL-MD
            @media #{$device-mobile} {} //.MOBILE

        // DESKTOP
            @media #{$device-desktop} {} //.DESKTOP
            @media #{$media-lg} {
                text-align: left;
            } //.COL-LG
            @media #{$media-xl} {} //.COL-XL
            @media #{$media-xxl} {} //.COL-XXL

        .hero-gradient {
            // GLOBAL
                height: 100.00%;
                width: 100.00%;
                position: absolute;
                top: 0.00rem;
                left: 0.00rem;
                z-index: 1;
                background: $hero-overlay;

            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL
        } //.HERO-GRADIENT

        .hero-border {
            // GLOBAL
                height: 100.00%;
                width: 100.00%;
                position: relative;
                z-index: 2;
                padding: $hero-padding;
                border: $border-section;

            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL
        } //.HERO-BORDER

        .wrapper-content {
            // GLOBAL
                height: 100.00%;
                align-items: center;
                justify-content: flex-end;
                padding-top: $hero-padding * 2.00;
                padding-bottom: $hero-padding;

            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {
                    padding-bottom: $hero-padding * 2.00;
                } //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL

            .row {
                // GLOBAL
                    align-items: flex-end;

                // MOBILE
                    @media #{$media-xs} {} //.COL-XS
                    @media #{$media-sm} {} //.COL-SM
                    @media #{$media-md} {} //.COL-MD
                    @media #{$device-mobile} {} //.MOBILE

                // DESKTOP
                    @media #{$device-desktop} {} //.DESKTOP
                    @media #{$media-lg} {} //.COL-LG
                    @media #{$media-xl} {} //.COL-XL
                    @media #{$media-xxl} {} //.COL-XXL

                .columns {
                    // GLOBAL
                    // MOBILE
                        @media #{$media-xs} {} //.COL-XS
                        @media #{$media-sm} {} //.COL-SM
                        @media #{$media-md} {} //.COL-MD
                        @media #{$device-mobile} {} //.MOBILE

                    // DESKTOP
                        @media #{$device-desktop} {} //.DESKTOP
                        @media #{$media-lg} {} //.COL-LG
                        @media #{$media-xl} {} //.COL-XL
                        @media #{$media-xxl} {} //.COL-XXL
                } //.COLUMNS
            } //.ROW
        } //.WRAPPER-CONTENT

        #{$text-all} {
            // GLOBAL
                color: $hero-text-color;

            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL
        } // TEXT-ALL

        .hero-heading {
            // GLOBAL
                @extend .text-shadow;
                margin-top: $margin-none;

            // MOBILE
                @media #{$media-xs} {
                    font-size: 2.00rem;
                } //.COL-XS
                @media #{$media-sm} {
                    font-size: 2.00rem;
                } //.COL-SM
                @media #{$media-md} {
                    font-size: 2.00rem;
                } //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {
                    font-size: 2.25rem;
                } //.COL-LG
                @media #{$media-xl} {
                    font-size: 2.50rem;
                } //.COL-XL
                @media #{$media-xxl} {
                    font-size: 3.00rem;
                } //.COL-XXL
        } //.HERO-HEADING

        .hero-subheading {
            // GLOBAL
                @extend .text-shadow;
                margin-top: $margin-none;

            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL
        } //.HERO-SUBHEADING

        .hero-description {
            // GLOBAL
                @extend .text-shadow;
                margin-bottom: $margin-none;

            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL
        } //.HERO-DESCRIPTION

        .hero-button {
            // GLOBAL
                margin-bottom: $margin-none;

            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL
        } //.HERO-BUTTON

        &-primary {
            // GLOBAL
                @extend .hero;
                height: $hero-primary-height;

            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL
        } //.HERO-PRIMARY

        &-secondary {
            // GLOBAL
                @extend .hero;
                height: $hero-secondary-height;

            // MOBILE
                @media #{$media-xs} {} //.COL-XS
                @media #{$media-sm} {} //.COL-SM
                @media #{$media-md} {} //.COL-MD
                @media #{$device-mobile} {} //.MOBILE

            // DESKTOP
                @media #{$device-desktop} {} //.DESKTOP
                @media #{$media-lg} {} //.COL-LG
                @media #{$media-xl} {} //.COL-XL
                @media #{$media-xxl} {} //.COL-XXL
        } //.HERO-SECONDARY

    } //.HERO